.c1{
  color: blue;
}
td {
  color: green;
}
strong{
  color: orange;
}

.c2 {
  color: orange;
}

.c3 {
  color: green;
}

.c4 {
  color: red;
}

h4{
  color: blue
}

div{
  font-size: 80%;
}

.box {
  height: 400px;
  width: 300px;
  background-image: url(http://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-position: top 50px;

}