body {
  height: 100vh;
}
h4{
  color: blue;
}
.c1{
  color: orange;
}
.c2 {
  color: green;
}
.c3 {
  color: red
}
.c4 {
  color: green;
  font-style: italic;
}

section {
  margin-left: 10px;
}
.efeito:hover {
  height: auto;
  width: auto;
  background-color: red;
  cursor: pointer; 
  border: 100%;
  transition: 3s;
}

.base:not(:hover) {
  transition: 3s;
}
.base p {
  margin: 0 0 0 15px;
  line-height: 20px;
}
.c4 p{
  margin: 20px 0 0 15px;
  line-height: 20px;
}
.base table {
  margin-top: 15px;
}

.base-style {
  border: 1px solid red;
  width: 600px;
  height: auto;

  margin: auto;
}